* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);

}

//  TOP

.top {
    background: #000915;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) -7.35%, #000915 100%), url(img/bckgrndindex.jpg), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1024px;
    border: 1px solid transparent;
}

.header {
    margin-top: 217px;
}

.title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    max-width: 666px;
}

.description {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    /* 177.778% */

    margin-top: 32px;
    max-width: 465px;

    &_bold {
        font-weight: 700;
    }

    &_seasons {
        max-width: 535px;
    }

    &_remember {
        max-width: 588px;
    }

    &_riddles {
        max-width: 1200px;
        text-align: center;
    }
}

.btn {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 234.063px;
    height: 48.603px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #9C0332;

    margin-top: 44px;

    transition: all 0.3s;



    &:hover {
        background: #EB443F;
    }

    &_seasons {
        margin-top: 32px;
    }
}

//  GAMES

.game-box {
    background: #000915;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 32px;
    column-gap: 32px;

    padding-top: 128px;
    padding-bottom: 128px;
}

.game {
    &__item {
        grid-column: span 4;
        max-width: 379px;
        height: 300px;
        flex-shrink: 0;
        border-radius: 16px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: flex-start;

        padding-bottom: 32px;
        padding-left: 32px;

        transition: all 0.3s;

        &:hover {
            transform: scale(0.98);
            border: 3px solid #44D2FF;
        }

        &_first {
            background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(img/first.jpg), lightgray 50% / cover no-repeat;

            background-size: cover;
            background-position: center;
        }

        &_second {
            background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(img/second.jpg), lightgray 50% / cover no-repeat;

            background-size: cover;
            background-position: center;
        }

        &_third {
            background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(img/third.jpg), lightgray 50% / cover no-repeat;

            background-size: cover;
            background-position: center;
        }
    }

    &__text {
        color: #FFF;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        /* 133.333% */
    }
}

//  SEASONS

.seasons {
    background: #000915;

    &__box {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;

        padding-top: 234px;
        padding-bottom: 234px;
    }

    &__textbox {
        grid-column: span 6;
    }

    &__title {
        color: #FFF;
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__img {
        grid-column: span 6;
        display: flex;
        justify-content: end;
        flex-direction: column;
        max-width: 485px;

        &_mobile {
            display: none;
        }
    }
}

//  REMEMBER

.remember {
    background: #000915;

    &__box {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;

        padding-top: 239px;
        padding-bottom: 239px;
    }

    &__textbox {
        grid-column: span 6;
    }

    &__title {
        color: #FFF;
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__img {
        grid-column: span 6;
        display: flex;
        justify-content: start;
        flex-direction: column;
        max-width: 485px;

        &_mobile {
            display: none;
        }
    }
}

//  RIDDLES

.riddles {
    background: linear-gradient(180deg, #000915 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.00) -7.35%, #000915 100%), url(img/bckgrnddown.jpg), lightgray 50% / cover no-repeat;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        padding-top: 239px;
        padding-bottom: 239px;
        gap: 32px
    }

}

//  FOOTER

.footer {
    background: #000915;

    &__text {
        color: #FFF;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        padding-top: 32px;
        padding-bottom: 32px;
        text-align: center
    }
}

@import 'mobile';